$body-font-family: 'Raleway';
$title-font: 'Raleway';
$nav-bar-height: 70px;
$content-container-width: 1366px;
$primary: #ff8000;

:export{
    navBarHeight: $nav-bar-height;
    contentContainerWidth: $content-container-width;
}